/* =LESS MIXINS
===========================================*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 140%;
  color: #333333;
}
h1 {
  font-size: 40px;
  line-height: 140%;
  font-family: "Russo One", sans-serif;
}
h1.underline-center {
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 70px;
}
h1.underline-center:before {
  width: 30px;
  height: 5px;
  background: #ff622b;
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, 0%);
}
h1.underline-left {
  position: relative;
  padding-bottom: 20px;
}
h1.underline-left:before {
  width: 30px;
  height: 5px;
  background: #ff622b;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}
h2 {
  font-size: 30px;
  line-height: 140%;
  font-family: "Roboto", sans-serif;
}
h3 {
  font-size: 20px;
  line-height: 140%;
  margin-bottom: 20px;
}
h3.underline-left {
  position: relative;
  padding-bottom: 20px;
}
h3.underline-left:before {
  width: 30px;
  height: 5px;
  background: #ff622b;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}
h4 {
  font-size: 18px;
  line-height: 140%;
}
p {
  margin-bottom: 30px;
}
.button {
  text-decoration: none;
  border: none;
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  margin: 15px auto;
  border-radius: 5px;
}
.button:hover {
  text-decoration: none;
}
.button.button-md {
  padding: 10px 20px;
  font-size: 16px;
}
.button.button-sm {
  padding: 5px 10px;
  font-size: 14px;
}
.button.button-lg {
  padding: 20px 40px;
  font-size: 20px;
}
.button.button-primary {
  background: #ff622b;
  color: #fff;
}
.button.button-primary:hover {
  background: #f74000;
}
.button.button-primary-animated {
  position: relative;
  background: transparent;
  color: #ff622b;
  overflow: hidden;
  border: 1px solid #ff622b;
}
.button.button-primary-animated:before {
  width: 0;
  height: 0;
  content: "";
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #ff622b;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.button.button-primary-animated:hover {
  color: #fff;
}
.button.button-primary-animated:hover:before {
  width: 500px;
  height: 500px;
  border-radius: 0;
}
.button.button-default {
  background: #ddd;
  color: #333;
}
.button.button-default:hover {
  background: #c4c4c4;
}
.button.button-outline-dark {
  background: transparent;
  color: #333333;
  border: 1px solid #333333;
}
.button.button-outline-dark:hover {
  color: #fff;
  background: #333333;
}
.button.button-ouline-white {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
}
.button.button-ouline-white:hover {
  color: #333333;
  background: #fff;
}
.button.button-danger {
  background: red;
  color: #fff;
}
.button.button-danger:hover {
  background: #cc0000;
}
/*

************************************************************************************************
HEADER
************************************************************************************************
*/
.main-header {
  padding: 0;
  margin: 0;
}
.main-header .logo {
  float: left;
  margin-right: 40px;
  padding: 0;
  margin: 0;
  margin-top: 15px;
  font-size: 34px;
  font-weight: bold;
  margin-right: 50px;
  font-family: "Passion One", cursive;
}
/*
************************************************************************************************
TOP HEADER
************************************************************************************************
*/
.top-header-container {
  background: #333333;
  border-bottom: #222222;
  overflow: hidden;
  padding: 10px 0px;
}
.top-header-container .left-top-menu {
  list-style: none;
  display: inline-block;
  float: left;
  margin: 0;
  padding: 0;
}
.top-header-container .left-top-menu li {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.top-header-container .left-top-menu li a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #999;
  padding: 0px 20px;
  display: block;
}
.top-header-container .left-top-menu li a:first-child {
  padding-left: 0;
}
.top-header-container .left-top-menu li a:hover {
  color: #fff;
  text-decoration: none;
}
.top-header-container .right-top-container {
  float: right;
  display: inline-block;
}
.top-header-container .right-top-container .form-container {
  position: relative;
  padding: 0;
  margin: 0;
}
/*
************************************************************************************************
TOP HEADER
************************************************************************************************
*/
.primary-menu {
  margin: 0 auto;
  width: 100%;
  list-style: none;
  padding: 0;
  position: relative;
  /* IF .menu position=relative -> ul = container width, ELSE ul = 100% width */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.primary-menu:before,
.primary-menu:after {
  content: "";
  display: table;
}
.primary-menu:after {
  clear: both;
}
.primary-menu li {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.primary-menu li.menu-dropdown-icon > a:after {
  content: "\f0d7";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  margin-left: 5px;
  font-size: 10px;
  color: #cccccc;
}
.primary-menu li.menu-dropdown-icon:hover > a:after {
  content: "\f0d8";
  color: #fff;
}
.primary-menu li a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #333333;
  padding: 20px 30px;
  display: block;
  overflow: hidden;
  position: relative;
}
.primary-menu li a .menu-icon {
  color: #cccccc;
  font-size: 14px;
  display: inline-block;
  margin-right: 5px;
}
.primary-menu li a:before {
  content: "";
  background: #333333;
  width: 100%;
  height: 0%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.primary-menu li a:hover {
  color: #fff;
}
.primary-menu li a:hover:before {
  height: 100%;
}
.primary-menu li a:hover .menu-icon {
  color: #fff;
}
.primary-menu li ul {
  background: #333333;
  /* Old browsers */
  background: -moz-linear-gradient(top, #262626 0%, #333333 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #262626 0%, #333333 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #262626 0%, #333333 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#262626, endColorstr=#333333, GradientType=0);
  /* IE6-9 */
  display: none;
  width: 100%;
  padding: 0px;
  position: absolute;
  z-index: 99;
  left: 0;
  margin: 0;
  top: 100%;
  list-style: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  overflow: hidden;
}
.primary-menu li ul:before,
.primary-menu li ul:after {
  content: "";
  display: table;
}
.primary-menu li ul:after {
  clear: both;
}
.primary-menu li ul li {
  margin: 0;
  padding-bottom: 0;
  list-style: none;
  padding: 10px;
  background: none;
  float: left;
  margin-bottom: 0;
}
.primary-menu li ul li.col-4-from-12 {
  width: 33.333333%;
}
.primary-menu li ul li.col-3-from-12 {
  width: 25%;
}
.primary-menu li ul li.col-2-from-12 {
  width: 50%;
}
.primary-menu li ul li .menu-thumb {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0;
  padding: 10px;
}
.primary-menu li ul li a {
  color: #fff;
  padding: 10px 20px;
  margin: 0;
  display: block;
  width: 100%;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #383838;
}
.primary-menu li ul li a:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: #1a1a1a;
}
.primary-menu li ul li a:hover:before {
  width: 100%;
}
.primary-menu li ul li ul {
  display: block;
  padding: 0px;
  position: relative;
  float: left;
  top: 0;
  margin: 0;
  background: transparent;
  list-style: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.primary-menu li ul li ul:before,
.primary-menu li ul li ul:after {
  content: "";
  display: block;
}
.primary-menu li ul li ul:after {
  clear: none;
}
.primary-menu li ul li ul > li {
  float: none;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 0.8em;
}
.primary-menu li ul li ul > li a {
  border: 0;
  font-weight: normal;
  padding: 15px;
  text-align: left;
}
.primary-menu li ul.normal-sub {
  width: 300px;
  left: auto;
  padding: 10px 20px;
}
.primary-menu li ul.normal-sub > li {
  width: 100%;
}
.primary-menu li ul.normal-sub > li a {
  border: 0;
  padding: 1em 0;
}
#homepage-slider {
  margin: 0;
  padding: 0;
}
#homepage-slider .slide {
  overflow: hidden;
  position: relative;
}
#homepage-slider .slide img {
  vertical-align: middle;
  position: relative;
}
#homepage-slider .slide .img-container:before {
  display: none;
  content: "";
  background-image: linear-gradient(-45deg, black 25%, transparent 25%, transparent 50%, black 50%, black 75%, transparent 75%, transparent);
  background-size: 4px 4px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
#homepage-slider .slide .img-container:after {
  content: "";
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
  background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00000000", endColorstr="#a6000000", GradientType=1);
  /* IE6-9
fallback on horizontal gradient */
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
#homepage-slider .slide .slide-content {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.4);
}
#homepage-slider .slide .slide-content h1 {
  color: #fff;
  font-size: 60px;
  position: relative;
  padding: 10px;
  display: block;
  width: 100%;
}
#homepage-slider .slide .slide-content h1:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: -1;
  opacity: 0.8;
}
#homepage-slider .slide .slide-content h1 h2 {
  clear: both;
  display: block;
  color: #fff;
}
/*
************************************************************************************************
SERVICES SECTIOB
************************************************************************************************
*/
.section {
  padding-bottom: 90px;
}
.content-box {
  text-align: left;
  padding: 40px;
  color: #888;
  padding-top: 0;
}
.content-box h1 {
  text-align: left;
  margin-bottom: 30px;
  color: #333333;
}
.content-box h1 .color {
  color: #ff622b;
}
.services-section {
  position: relative;
  text-align: center;
  padding: 90px 0px;
  overflow: hidden;
}
.services-section:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  display: block;
  background: #fbfbfb;
}
.services-section .service-box {
  border-right: 1px solid #f3f3f3;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
  padding: 30px;
  margin-left: -1px;
}
.services-section .service-box:first-child {
  margin-left: 0;
}
.services-section .service-box:last-child {
  border-right: 0px;
}
.services-section .service-box:before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 5px;
  width: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #ff622b;
}
.services-section .service-box:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: #fff;
  z-index: -2;
}
.services-section .service-box .service-icon {
  color: #ff622b;
  font-size: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  border-radius: 100%;
  overflow: hidden;
}
.services-section .service-box .service-icon:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background: #ff622b;
  width: 0;
  height: 100%;
  z-index: -1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.services-section .service-box .service-title {
  display: block;
  color: #333333;
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: center;
  font-size: 20px;
}
.services-section .service-box .service-content {
  color: #999;
}
.services-section .service-box:hover:before {
  width: 100%;
}
.services-section .service-box:hover .service-icon {
  color: #fff;
}
.services-section .service-box:hover .service-icon:before {
  width: 100%;
}
/*
************************************************************************************************
SERVICES SECTIOB
************************************************************************************************
*/
.about-section {
  position: relative;
  text-align: center;
  width: 100%;
  clear: both;
  padding: 90px 0px;
  padding-top: 120px;
  border-bottom: 1px solid #f3f3f3;
}
.about-section .service-box {
  border: 1px solid #f3f3f3;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
  padding: 30px;
  margin-left: -1px;
}
.about-section .service-box:first-child {
  margin-left: 0;
}
.about-section .service-box:before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 5px;
  width: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #ff622b;
}
.about-section .service-box .service-icon {
  color: #ff622b;
  font-size: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  border-radius: 100%;
  overflow: hidden;
}
.about-section .service-box .service-icon:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background: #ff622b;
  width: 0;
  height: 100%;
  z-index: -1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.about-section .service-box .service-title {
  display: block;
  color: #333333;
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
}
.about-section .service-box .service-content {
  color: #999;
}
.about-section .service-box:hover:before {
  width: 100%;
}
.about-section .service-box:hover .service-icon {
  color: #fff;
}
.about-section .service-box:hover .service-icon:before {
  width: 100%;
}
/*
************************************************************************************************
CTA
************************************************************************************************
*/
.section-cta {
  padding-top: 90px;
}
.section-cta h3 {
  color: #999;
}
/*
************************************************************************************************
TEEAM SECTION
************************************************************************************************
*/
.section-team {
  padding-top: 0;
}
/*
************************************************************************************************
Latest Blog Homepage
************************************************************************************************
*/
.section-latest-blog-posts {
  background: #fdfdfd;
  padding-top: 90px;
  border-bottom: 1px solid #f3f3f3;
  border-top: 1px solid #f3f3f3;
}
.post-social {
  list-style: none;
  text-align: center;
  display: block;
  margin: 0;
  padding: 10px;
  padding-bottom: 0;
  border-bottom: 1px solid #f3f3f3;
}
.post-social li {
  display: inline-block;
}
.post-social li a {
  padding: 10px;
  color: #999;
  text-decoration: none;
  display: block;
}
.home-post {
  padding: 0px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 1px solid #f3f3f3;
  margin-left: -1px;
}
.home-post:first-child {
  margin-left: 0;
}
.home-post .post-image-container {
  padding: 0;
  position: relative;
  margin: 0;
  filter: grayscale(0);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.home-post .post-image-container img {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.home-post .post-content {
  padding: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.home-post .post-content .post-title {
  margin-bottom: 10px;
  font-weight: 600;
  border-bottom: 1px solid #f3f3f3;
  padding-bottom: 15px;
  margin-bottom: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.home-post .post-content p {
  color: #999;
  margin-bottom: 15px;
}
.home-post .post-content .post-details {
  padding: 0px;
  background: #f3f3f3;
  padding: 10px;
  margin-bottom: 15px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.home-post .post-content .more-link {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 5px 15px;
  color: #999;
}
.home-post .post-content .more-link:hover {
  color: #fff;
}
.home-post:hover {
  background: #333333;
}
.home-post:hover .post-image-container {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.home-post:hover .post-image-container img {
  filter: grayscale(90%);
}
.home-post:hover .post-content {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.home-post:hover .post-content .post-title {
  margin-bottom: 10px;
  font-weight: 600;
  border-bottom: 1px solid #444;
  color: #999;
  padding-bottom: 15px;
  margin-bottom: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.home-post:hover .post-content p {
  color: #999;
  margin-bottom: 15px;
}
.home-post:hover .post-content .post-details {
  padding: 0px;
  background: #555;
  padding: 10px;
  margin-bottom: 15px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.home-post:hover .post-content .more-link {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 5px 15px;
  color: #333;
  background: #999;
}
.home-post:hover .post-content .more-link:hover {
  background: #ff622b;
  color: #fff;
}
/*
************************************************************************************************
UI Kit
************************************************************************************************
*/
.section-ui-kit {
  padding-top: 90px;
}
.section-ui-kit .accordion-toggle {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #f3f3f3;
  margin-bottom: -1px;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.section-ui-kit .accordion-toggle:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  background: #ff622b;
  height: 100%;
  z-index: -1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.section-ui-kit .accordion-toggle:after {
  float: right;
  content: "+";
  padding-right: 10px;
}
.section-ui-kit .accordion-toggle:hover {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #f3f3f3;
}
.section-ui-kit .accordion-toggle.open {
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.section-ui-kit .accordion-toggle.open:hover {
  background: #f74000;
}
.section-ui-kit .accordion-toggle.open:after {
  float: right;
  content: "-";
  padding-right: 10px;
}
.section-ui-kit .accordion-toggle.open:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: #ff622b;
  height: 100%;
  z-index: -1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.section-ui-kit .accordion-toggle:first-child {
  margin-bottom: 0;
}
.section-ui-kit .accordion-content {
  display: none;
}
.section-ui-kit .accordion-content.default {
  display: block;
}
.section-ui-kit .accordion-content {
  padding: 30px;
  color: #888;
}
/*
************************************************************************************************
Projects
************************************************************************************************
*/
.projects-section {
  display: block;
  width: 100%;
  clear: both;
  padding: 0;
  background: #fdfdfd;
  padding-top: 90px;
}
.projects-section .projects-container {
  padding: 0;
  position: relative;
}
.projects-section .slider-controls {
  display: inline-block;
  position: absolute;
  border: 10px solid rgba(255, 255, 255, 0.5);
  top: -25px;
  left: 50%;
  overflow: hidden;
  text-align: center;
  z-index: 4;
  transform: translate(-50%, 0%);
}
.projects-section .slider-controls span {
  display: inline-block;
  color: #fff;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  margin: 0px;
  padding: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #333333;
}
.projects-section .slider-controls span:hover {
  background: #1a1a1a;
}
.projects-section .slider-controls span:last-child {
  margin-left: 5px;
}
.projects-section h1 {
  margin-bottom: 70px;
}
.projects-section h1 span {
  color: #ff622b;
}
.projects-section .project {
  padding: 0;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.projects-section .project:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: none;
}
.projects-section .project:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
  background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00000000", endColorstr="#a6000000", GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: none;
}
.projects-section .project .project-content {
  position: absolute;
  overflow: hidden;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 3;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  transform: scale(0);
  outline: 3px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.projects-section .project .project-content .project-content-inner {
  padding: 30px;
}
.projects-section .project .project-title {
  margin-bottom: 15px;
}
.projects-section .project .project-category {
  display: inline-block;
  padding: 10px 15px;
  background: #ff622b;
  color: #fff;
  margin: 0 auto;
}
.projects-section .project .description {
  margin-top: 30px;
}
.projects-section .project img {
  width: 100%;
  height: auto;
  -webkit-filter: grayscale(0%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 1;
  margin: 0;
  padding: 0;
  display: block;
  vertical-align: middle;
}
.projects-section .project:hover .project-content {
  transform: scale(1);
}
.projects-section .project:hover:before,
.projects-section .project:hover:after {
  display: block;
}
.projects-section .project:hover img {
  width: 100%;
  height: auto;
  -webkit-filter: grayscale(30%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(30%);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0.8;
}
.main-footer {
  position: relative;
  overflow: hidden;
}
.main-footer:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/paralax/services.jpg);
  z-index: -3;
  display: block;
  background-size: cover;
  background-attachment: fixed;
}
.main-footer:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  display: block;
  background: rgba(0, 0, 0, 0.9);
}
.main-footer .footer-top {
  padding: 15px 0px;
  background: #333333;
  border-bottom: 1px solid #1a1a1a;
}
.top-footer-menu {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}
.top-footer-menu li {
  display: inline-block;
}
.top-footer-menu li a {
  padding: 10px;
  display: block;
  color: #777;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: 14px;
}
.top-footer-menu li a:first-child {
  padding-left: 0;
}
.top-footer-menu li a:hover {
  color: #ff622b;
  text-decoration: none;
}
.footer-middle {
  padding: 40px 0px;
  color: #777;
}
.footer-middle h3 {
  color: #fff;
  font-weight: normal;
}
.footer-bottom {
  padding: 40px 0px;
}
.instagram-feeds {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
  padding-left: 0;
}
.instagram-feeds li {
  padding: 0px;
}
.instagram-feeds li .istagram-image-container {
  padding: 5px;
}
.instagram-feeds li .istagram-image-container img {
  max-width: 100%;
  height: auto;
  display: block;
  vertical-align: middle;
  padding: 5px;
  background: #333333;
}
/*
************************************************************************************************
OVERWRITE CSS
************************************************************************************************
*/
.text-center {
  text-align: center !important;
}
.img-border {
  border: 10px solid #fff !important;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}
.padding-0 {
  padding: 0 !important;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*
************************************************************************************************
Responsive
************************************************************************************************
*/
body.sidr-open:before {
  background: #000;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.sidr {
  display: block;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 999999;
  width: 260px;
  overflow-x: hidden;
  overflow-y: auto;
  background: #333333;
}
.sidr .top-header-container {
  background: transparent;
  border-bottom: none;
}
.sidr .top-header-container .left-top-menu {
  display: block;
  float: none;
  margin: 0;
  padding: 10px 0px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}
.sidr .top-header-container .right-top-container {
  float: none;
  display: block;
  padding: 10px 0px;
  border-bottom: 1px solid #ddd;
}
.sidr .primary-menu {
  margin: 0 auto;
}
.sidr .primary-menu li {
  display: block;
}
.sidr .primary-menu li.menu-dropdown-icon > a:after {
  color: #fff;
}
.sidr .primary-menu li a {
  color: #fff;
}
.sidr .primary-menu li a .menu-icon {
  color: #fff;
}
.sidr .primary-menu li a:before {
  display: none;
}
.sidr .primary-menu li ul {
  background: transparent;
  display: block;
  width: 100%;
  padding: 0px;
  position: relative;
  z-index: 99;
  left: 0;
  margin: 0;
  top: 100%;
  list-style: none;
}
.sidr .primary-menu li ul li {
  float: none;
  display: block;
  margin-bottom: 0;
}
.sidr .primary-menu li ul li.col-4-from-12 {
  width: 100%;
}
.sidr .primary-menu li ul li.col-3-from-12 {
  width: 100%;
}
.sidr .primary-menu li ul li.col-2-from-12 {
  width: 100%;
}
.sidr .primary-menu li ul li a {
  color: #fff;
  border-bottom: 1px solid #383838;
  text-align: left;
}
.sidr .primary-menu li ul li a:before {
  display: none;
}
.sidr .primary-menu li ul li ul {
  float: none;
  display: block;
}
.sidr .primary-menu li ul.normal-sub {
  width: 100%;
}
.sidr .sidr-inner {
  padding: 0 0 15px;
}
.sidr.left {
  left: -260px;
  right: auto;
}
