// colors and fonts
// =====================================

//font-size
@body-fz: 14px;

//line-height
@body-lh: 140%;

//body-font-family
@body-ff: Arial, Helvetica, sans-serif;

// text color
@color-text: #3d3d3d;

// link color
@color-link: #ef7f45;

// color brand
@color-brand: #0182AA;

// link hover color
@color-link-hover: darken(@color-link, 10%);


// form defaults
// =====================================

// width of control label (for inline method)
@controllabel : 150px;

// control label margin right
@controllabel-marginright : 20px;

// default imput width
@input-size : 300px;

// default input margin right
@input-marginright: 0px;



// buttons, forms, alerts colors
@color-btn-text: #fff;
@color-default: #2F9FE0;
@color-danger: #c0392b;
@color-warning: #f39c12;
@color-success: #00a924;
@color-secondary: #95a5a6;



/* =DEFAULTS
===========================================*/

.break {
	clear:both;
	height: 0px;
	overflow: hidden;
}

a {
	cursor: pointer;
	color: @color-link;
	text-decoration: none;
	outline: 0;
	.transition();
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
a:hover {
	text-decoration: underline;
	// color: @color-link-hover;
}


body {
	font-family: @body-ff;
	font-size: @body-fz;
	line-height: @body-lh;
	-webkit-font-smoothing: antialiased;
	// word-wrap: break-word;
	color: @color-text;
}

p, pre, ul, ol, dl, dd, blockquote, address, table, fieldset, form, iframe {
	margin-bottom: 20px;
}


h1, h2, h3, h4, h5, h6 {
	margin: 0;
	line-height: 100%;
	font-weight: normal;
}

h1 {
	font-size: 24px;
	line-height: 120%;
	margin-bottom: 20px;
}

h2 {
	font-size: 22px;
	margin-bottom: 25px;
	color: @color-brand;
}

h3 {
	font-size: 16px;
	margin-bottom: 10px;
	font-weight: bold;
}
h4 {
	font-size: 12px;
	margin-bottom: 5px;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	text-decoration: none;
	// color:  @color-link;
}

ul {
	list-style-type: none;
	margin-left: 0;
	padding: 0;
}

ol {
	list-style-type: decimal;
	padding-left: 20px;
}


li {
	// line-height: 100%;
	margin-bottom: 5px;
}

big {
	font-size: 120%;

}
.small {
	font-size: 80%;
}



/* Custom bulleted list
======================================*/
ul.bulleted {
	list-style-type: disc;
	margin-left: 30px;
}
ul.bulleted li {
}

ol {
	margin-left: 15px;
}

/* Unstyled list
=======================================*/
ul.unstyled {
	list-style-type: none;
	margin-left: 0;
}

ul.inline, ol.inline {
	margin-left: 0;
	list-style-type: none;
}
ul.inline li, ol.inline li {
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
}

/* Definition list
========================================*/
dl dt {
	font-size: 110%;
	font-weight: bold;
}
dl dd {
	margin: 0 0 10px 0;
}

img {
	max-width: 100%;
	height: auto;
}

/*Floated images
==========================================*/
// img.float-right {
//     margin: 0 0 20px 20px;
//     padding: 2px;
//     border: 1px solid #444;
// }
// img.float-left {
//     margin: 0 20px 20px 0;
//     padding: 2px;
//     border: 1px solid #444;
// }
img.align-center {
	clear: both;
	margin: 20px auto;
	display:  block;
	padding: 2px;
	border: 1px solid #444;
}


/* Default table formatting
============================================*/
table {
	width: 100%;
}
table th,
table td {
	padding: 5px 10px;
	font-size: 14px;
	text-align: left;
// border-bottom: 1px solid #222;
}
table th {
	border-width: 2px;
	font-weight: bold;
	font-size: 16px;
	border-bottom: 2px solid #000;
}
table td {

}
table img {
	vertical-align: middle;
}
table tr:last-child th,
table tr:last-child td {
	border-bottom: none;
}
table tr:nth-child(even) {
// background: #333;
}

/* Separator line  HR
=======================================*/
hr {
	height: 0;
	background: none;
	border: none;
	border-bottom: 1px dotted #444;
	margin: 30px 0;
	clear: both;
	width: 100%;
}
hr.small {
	margin: 5px 0;
}
hr.blank {
	border: none;
}



/* =FORM DEFAULTS
===========================================*/


// form.horizontal .form-row {
// 	padding-left: @controllabel+@controllabel-marginright;
// }

// form.horizontal label.control-label  {
// 	display: inline-block;
// 	float: left;
// 	margin-left: -(@controllabel+@controllabel-marginright);
// 	margin-right: @controllabel-marginright;
// 	width: @controllabel;
// }

// .form-row {
// 	margin-bottom: 15px;
// 	clear: both;
// 	.clearfix();
// }


// label {
// 	margin-right: 10px;
// }

// label.control-label  {
// 	margin-right: 0;
// 	display:  block;
// 	font-weight: bold;
// }


// small.note {
// 	font-size: 70%;
// 	font-weight: normal;
// 	color: #ccc;
// 	position: relative;
// 	top: -4px;
// 	display: block;
// 	line-height: 100%;
// }
// span.error {
// 	font-size: 12px;
// 	font-weight: normal;
// 	color: @color-danger;
// 	display: block;
// }


// input[type=text],
// input[type=password],
// select,
// textarea {
// // width: @input-size;
// display: block;
// margin: 0;
// margin-right: @input-marginright;
// outline: 0;
// font-size: 12px;
// font-family: Verdana, Geneva, sans-serif;
// padding: 5px;
// display: inline-block;
// vertical-align: middle;
// border: 1px solid #ccc;
// background: #fff;
// margin-bottom: 5px;
// box-sizing: border-box;
// -moz-box-sizing: border-box;
// -webkit-box-sizing: border-box;
// .box-shadow(inset 0 0 3px #ccc);
// .border-radius(3px);
// .transition();
// }

// input[type=text].large,
// input[type=password].large,
// select.large,
// textarea.large {
//     width: (@input-size*2+@input-marginright);

// }
// input[type=text].medium,
// input[type=password].medium,
// select.medium,
// textarea.medium {
//     width: (@input-size/2-@input-marginright/2);
// }

// input[type=text].small,
// input[type=password].small,
// select.small,
// textarea.small {
//      width: ((@input-size)-(@input-marginright*2))/3;
// }

// input[type=text].x-small,
// input[type=password].x-small,
// select.x-small,
// textarea.x-small {
//     width: ((@input-size)-(@input-marginright*3))/4;
// }
// input[type=text].xx-small,
// input[type=password].xx-small,
// select.xx-small,
// textarea.xx-small {
//     width: ((@input-size)-(@input-marginright*5))/6;
// }

// input[type=text].block,
// input[type=password].block,
// select.block,
// textarea.block {
//     width: 100%;
// }




// input[type=text]:focus,
// input[type=password]:focus,
// select:focus,
// textarea:focus {
// 	border: 1px solid #3497cb;
// }

// input.flat, input.flat:focus {
// 	border: none;
// 	background: none;
// 	-webkit-box-shadow: none;
// 	-moz-box-shadow: none;
// 	box-shadow: none;
// }


// input[type=checkbox], input[type=radio] {
// 	vertical-align: middle;
// 	position: relative;
// 	margin: 0;
// 	top: -2px;
// 	*overflow: hidden;
// }

// input.error,
// select.error,
// textarea.error {
// 	border: 1px solid #FF0033;
// 	color: #de002c;
// 	background: #fff1f4;

// // -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 3px rgba(250, 0, 50, 0.6);
// // -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 3px rgba(250, 0, 50, 0.6);
// // box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 3px rgba(250, 0, 50, 0.6);

// }
// input.error:focus,
// select.error:focus,
// textarea.error:focus {
// 	border: 1px solid #5897FB;
// 	background: #fff;
// }


// input.transparent-input,
// select.transparent-input,
// textarea.transparent-input {
// 	background: transparent;
// 	border:1px solid #4b4b4b;
// 	color:  #ccc;
// }

// textarea {
// 	resize: vertical;
// }

// .req:after {
// 	content: "*";
// 	font-weight: bold;
// 	color: @color-danger;
// }

/* =DEFAULT BUTTONS
===========================================*/


// input[type=button], .btn, button {
// 	border: none;
// 	font-size: 14px;
// 	font-weight: bold;
// 	line-height: 18px;
// 	display: inline-block;
// 	padding: 3px 10px;
// 	cursor: pointer;
// 	color:  @color-btn-text;
// 	background: @color-default;
// 	border: 1px solid darken(@color-default, 10%);
// 	position: relative;
// 	white-space: nowrap;
// 	outline: none;
// 	vertical-align: middle;
// 	.border-radius(3px);
// 	.box-shadow(inset 0 1px 1px rgba(255,255,255,0.2));
// }

// input[type=button]:hover,
// .btn:hover,
// button:hover {
// 	background: darken(@color-default, 10%);
// 	border-color: darken(@color-default, 20%);
// 	color: #fff;
// 	text-decoration: none;
// }



// input[type=button]:active,
// .btn:active,
// button:active {
// 	margin-bottom: -1px;
// 	.box-shadow(~"inset 0 1px 1px rgba(255,255,255,0.2), inset 0 -3px 5px rgba(0,0,0,0.3)");
// }


// .btn-danger {
// 	background: @color-danger;
// 	border: 1px solid darken(@color-danger, 5%);
// }
// .btn-danger:hover {
// 	background: darken(@color-danger, 10%) !important;
// 	border-color: darken(@color-danger, 20%);
// }


// .btn-secondary {
// 	background: @color-secondary;
// 	border: 1px solid darken(@color-secondary, 5%);
// }
// .btn-secondary:hover {
// 	background: darken(@color-secondary, 10%);
// 	border-color: darken(@color-secondary, 20%);
// }

// .btn-warning {
// 	background: @color-warning;
// 	border: 1px solid darken(@color-warning, 5%);
// }
// .btn-warning:hover {
// 	background: darken(@color-warning, 10%);
// 	border-color: darken(@color-warning, 20%);
// }

// .btn-success {
// 	background: @color-success;
// 	border: 1px solid darken(@color-success, 5%);
// }
// .btn-success:hover {
// 	background: darken(@color-success, 10%);
// 	border-color: darken(@color-success, 20%);
// }


// input[type=button].btn-big,
// .btn.btn-big,
// button.btn-big {
// 	font-size: 18px;
// 	line-height: 100%;
// 	padding: 8px 20px;
// }

// input[type=button].btn-medium,
// .btn.btn-medium,
// button.btn-medium {
// 	font-size: 12px;
// 	line-height: 100%;
// 	padding: 8px 20px;
// }


// input[type=button].btn-small,
// .btn.btn-small,
// button.btn-small {
// 	font-size: 12px;
// 	line-height: 120%;
// 	padding: 3px 10px;
// 	font-weight: normal;
// }

// input[type=button].btn-mini,
// .btn.btn-mini,
// button.btn-mini {
// 	font-size: 10px;
// 	line-height: 100%;
// 	padding: 2px 4px;
// 	vertical-align: middle;
// 	.border-radius(2px);
// }

// .disabled, .disabled:active, .disabled:focus, *:disabled {
// 	background: #eee !important;
// 	background-image: none !important;
// 	color: #999 !important;
// 	border: none !important;
// 	.box-shadow("none !important");
// 	cursor: not-allowed !important;

// }
// input[readonly="readonly"],
// input:focus[readonly="readonly"] {
// 	background: #fafafa;
// 	border: 1px solid #ddd  !important;
// }

// .action-message {
// 	padding: 15px;
// 	margin-bottom: 15px;
// 	border-width: 1px;
// 	border-style: solid;
// 	.clearfix();
// }
// .action-message.error {
// 	background: #fff1f3;
// 	color: #ff0000;
// 	border-color: #ff8193;
// }

// .span2-with-sep {
// 	width: 465px;
// 	margin-bottom: 20px;
// 	padding-right: 19px;
// 	float: left;
// 	margin-right: 20px;
// 	border-right: 1px solid #f8ebff;
// }

// .span2-with-sep.last {
// 	margin-right: 0;
// 	padding-right: 0;
// 	border-right: 0;
// }

// .success-color {
// 	color: @color-success;
// }
// .warning-color {
// 	color: @color-warning;
// }
// .danger-color {
// 	color: @color-danger;
// }

