@import "_mixins.less";

@import (inline) "reset.less";

// Colors
@primary : #333;

@primary-focus : darken( @primary, 5%);
@primary-dark : darken( @primary, 10%);
@secundary : #ff622b;
@secundary-focus : darken( @secundary, 15%);
// Backgrounds
@light-background: #f3f3f3;
@border-color: #ddd;
@dark : #333;
@dark-border-color : #222;

body {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	line-height: 140%;
	color: @primary;
}

h1 {
	font-size: 40px;
	line-height: 140%;
	// font-family: 'Candal', sans-serif;
	font-family: "Russo One", sans-serif;

	&.underline-center {
		position: relative;
		padding-bottom: 20px;
		margin-bottom: 70px;

		&:before {
			width: 30px;
			height: 5px;
			background: @secundary;
			content: "";
			position: absolute;
			bottom: 0;
			left: 50%;
			z-index: 2;
			transform: translate(-50%, 0%);
		}
	}

	&.underline-left {
		position: relative;
		padding-bottom: 20px;

		&:before {
			width: 30px;
			height: 5px;
			background: @secundary;
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 2;
			// transform: translate(-50%, 0%);
		}
	}
}
h2 {
	font-size: 30px;
	line-height: 140%;
	font-family: "Roboto", sans-serif;

	// font-family: 'Candal', sans-serif;
}
h3 {
	font-size: 20px;
	line-height: 140%;
	margin-bottom: 20px;

	&.underline-left {
		position: relative;
		padding-bottom: 20px;

		&:before {
			width: 30px;
			height: 5px;
			background: @secundary;
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 2;
			// transform: translate(-50%, 0%);
		}
	}
}
h4 {
	font-size: 18px;
	line-height: 140%;
}

p {
	margin-bottom: 30px;
}

.button {
	text-decoration: none;
	border: none;
	outline: none;
	.transition;
	display: inline-block;
	margin: 15px auto;
	border-radius: 5px;

	&:hover {
		text-decoration: none;
	}

	&.button-md {
		padding: 10px 20px;
		font-size: 16px;
	}

	&.button-sm {
		padding: 5px 10px;
		font-size: 14px;
	}

	&.button-lg {
		padding: 20px 40px;
		font-size: 20px;
	}

	&.button-primary {
		background: @secundary;
		color: #fff;

		&:hover {
			background: darken(@secundary, 10%);
		}
	}

	&.button-primary-animated {
		position: relative;
		background: transparent;
		color: @secundary;
		overflow: hidden;
		border: 1px solid @secundary;

		&:before {
			width: 0;
			height: 0;
			content: "";
			.transition;
			background: @secundary;
			position: absolute;
			left: 50%;
			top: 50%;
			border-radius: 100%;
			transform: translate(-50%, -50%);
			z-index: -1;
		}

		&:hover {
			color: #fff;
			&:before {
				width: 500px;
				height: 500px;
				border-radius: 0;
			}
		}
	}

	&.button-default {
		background: #ddd;
		color: #333;

		&:hover {
			background: darken(#ddd, 10%);
		}
	}
	&.button-outline-dark {
		background: transparent;
		color: @primary;
		border: 1px solid @primary;

		&:hover {
			color: #fff;
			background: @primary;
		}
	}

	&.button-ouline-white {
		background: transparent;
		color: #fff;
		border: 1px solid #fff;

		&:hover {
			color: @primary;
			background: #fff;
		}
	}

	&.button-danger {
		background: red;
		color: #fff;

		&:hover {
			background: darken(red, 10%);
		}
	}
}

/*

************************************************************************************************
HEADER
************************************************************************************************
*/
.main-header {
	padding: 0;
	margin: 0;
	// background: @light-background;
	// border-bottom: 1px solid #ddd;
	.logo {
		float: left;
		margin-right: 40px;
		padding: 0;
		margin: 0;
		margin-top: 15px;
		font-size: 34px;
		font-weight: bold;
		margin-right: 50px;
		font-family: "Passion One", cursive;
	}
}
/*
************************************************************************************************
TOP HEADER
************************************************************************************************
*/
.top-header-container {
	background: @dark;
	border-bottom: @dark-border-color;
	overflow: hidden;
	padding: 10px 0px;

	.left-top-menu {
		list-style: none;
		display: inline-block;
		float: left;
		margin: 0;
		padding: 0;

		li {
			display: inline-block;
			margin: 0;
			padding: 0;

			a {
				.transition;
				color: #999;
				padding: 0px 20px;
				display: block;

				&:first-child {
					padding-left: 0;
				}

				&:hover {
					color: #fff;
					text-decoration: none;
				}
			}
		}
	}

	.right-top-container {
		float: right;
		display: inline-block;

		.form-container {
			position: relative;
			padding: 0;
			margin: 0;
		}
	}
}

/*
************************************************************************************************
TOP HEADER
************************************************************************************************
*/

// Menu Primary
.primary-menu {
	margin: 0 auto;
	width: 100%;
	list-style: none;
	padding: 0;
	position: relative;
	//position: relative;
	/* IF .menu position=relative -> ul = container width, ELSE ul = 100% width */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	&:before,
	&:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
	li {
		display: inline-block;
		margin: 0;
		padding: 0;

		&.menu-dropdown-icon {
			> a {
				&:after {
					content: "\f0d7";
					font-family: FontAwesome;
					font-style: normal;
					font-weight: normal;
					text-decoration: inherit;
					margin-left: 5px;
					font-size: 10px;
					color: lighten(#999, 20%);
				}
			}

			&:hover {
				> a {
					&:after {
						content: "\f0d8";
						color: #fff;
					}
				}
			}
		}

		a {
			text-decoration: none;
			.transition;
			color: @primary;
			padding: 20px 30px;
			display: block;
			// background: @light-background;
			overflow: hidden;
			position: relative;

			.menu-icon {
				color: lighten(#999, 20%);
				font-size: 14px;
				display: inline-block;
				margin-right: 5px;
			}

			&:before {
				content: "";
				background: @primary;
				width: 100%;
				height: 0%;
				.transition;
				position: absolute;
				left: 0;
				bottom: 0;
				z-index: -1;
			}

			&:hover {
				color: #fff;

				&:before {
					height: 100%;
				}

				.menu-icon {
					color: #fff;
				}
			}
		}

		ul {
			background: @primary; /* Old browsers */
			background: -moz-linear-gradient(
				top,
				@primary-focus 0%,
				@primary 100%
			); /* FF3.6-15 */
			background: -webkit-linear-gradient(
				top,
				@primary-focus 0%,
				@primary 100%
			); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(
				to bottom,
				@primary-focus 0%,
				@primary 100%
			); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient(
					startColorstr=@primary-focus,
					endColorstr=@primary,
					GradientType=0
				); /* IE6-9 */
			display: none;
			width: 100%;
			padding: 0px;
			position: absolute;
			z-index: 99;
			left: 0;
			margin: 0;
			top: 100%;
			list-style: none;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			padding: 0;
			overflow: hidden;
			&:before,
			&:after {
				content: "";
				display: table;
			}
			&:after {
				clear: both;
			}
			li {
				margin: 0;
				padding-bottom: 0;
				list-style: none;
				padding: 10px;
				background: none;
				float: left;
				margin-bottom: 0;

				&.col-4-from-12 {
					width: 33.333333%;
				}
				&.col-3-from-12 {
					width: 25%;
				}
				&.col-2-from-12 {
					width: 50%;
				}

				.menu-thumb {
					max-width: 100%;
					height: auto;
					display: block;
					margin: 0;
					// margin-bottom: 15px;
					padding: 10px;
				}

				a {
					color: #fff;
					padding: 10px 20px;
					margin: 0;
					display: block;
					width: 100%;
					font-weight: bold;
					text-align: center;
					border-bottom: 1px solid lighten(@primary, 2%);

					&:before {
						position: absolute;
						left: 0;
						top: 0;
						width: 0;
						height: 100%;
						background: @primary-dark;
					}

					&:hover {
						&:before {
							width: 100%;
						}
					}
				}
				ul {
					display: block;
					padding: 0px;
					position: relative;
					float: left;
					top: 0;
					margin: 0;
					background: transparent;
					list-style: none;
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;
					box-sizing: border-box;
					&:before,
					&:after {
						content: "";
						display: block;
					}
					&:after {
						clear: none;
					}
					> li {
						float: none;
						display: block;
						width: 100%;
						padding: 0;
						margin: 0;
						font-size: 0.8em;
						a {
							border: 0;
							font-weight: normal;
							padding: 15px;
							text-align: left;
						}
					}
				}
			}

			&.normal-sub {
				width: 300px;
				left: auto;
				padding: 10px 20px;
				> li {
					width: 100%;
					a {
						border: 0;
						padding: 1em 0;
					}
				}
			}
		}
	}
}

#homepage-slider {
	margin: 0;
	padding: 0;

	.slide {
		overflow: hidden;
		position: relative;

		img {
			vertical-align: middle;
			position: relative;
		}

		.img-container {
			&:before {
				display: none;
				content: "";
				background-image: linear-gradient(
					-45deg,
					black 25%,
					transparent 25%,
					transparent 50%,
					black 50%,
					black 75%,
					transparent 75%,
					transparent
				);
				background-size: 4px 4px;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				z-index: 1;
			}

			&:after {
				content: "";
				/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
				background: -moz-radial-gradient(
					center,
					ellipse cover,
					rgba(0, 0, 0, 0) 0%,
					rgba(0, 0, 0, 0.65) 100%
				); /* FF3.6-15 */
				background: -webkit-radial-gradient(
					center,
					ellipse cover,
					rgba(0, 0, 0, 0) 0%,
					rgba(0, 0, 0, 0.65) 100%
				); /* Chrome10-25,Safari5.1-6 */
				background: radial-gradient(
					ellipse at center,
					rgba(0, 0, 0, 0) 0%,
					rgba(0, 0, 0, 0.65) 100%
				); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient(
						startColorstr="#00000000",
						endColorstr="#a6000000",
						GradientType=1
					); /* IE6-9
fallback on horizontal gradient */
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				z-index: 1;
			}
		}

		.slide-content {
			position: absolute;
			left: 0;
			top: 0;
			width: 50%;
			height: 100%;
			z-index: 2;
			display: flex;
			align-items: center;
			justify-content: center;
			background: rgba(255, 255, 255, 0.4);

			h1 {
				// text-align: center;
				// -webkit-background-clip: text;
				// background-clip: text;
				color: #fff;
				// font-family: "Russo One", sans-serif;
				// font-family: 'Candal', sans-serif;
				font-size: 60px;
				position: relative;
				padding: 10px;
				display: block;
				width: 100%;

				&:before {
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;

					content: "";
					z-index: -1;
					opacity: 0.8;
				}

				h2 {
					clear: both;
					display: block;
					color: #fff;
				}
			}
		}
	}
}
/*
************************************************************************************************
SERVICES SECTIOB
************************************************************************************************
*/
// Services section

.section {
	padding-bottom: 90px;
}

.content-box {
	text-align: left;
	padding: 40px;
	color: #888;
	padding-top: 0;

	h1 {
		text-align: left;
		margin-bottom: 30px;
		color: @primary;

		.color {
			color: @secundary;
		}
	}
}

.services-section {
	position: relative;
	text-align: center;
	padding: 90px 0px;
	overflow: hidden;

	h1 {
		// color:#fff;
	}

	// &:after{
	// 	content:"";
	// 	position: absolute;
	// 	left:0;
	// 	top:0;
	// 	width:100%;
	// 	height:100%;
	// 	background-image: url(../img/paralax/services.jpg);
	// 	z-index: -3;
	// 	display: block;
	// 	background-size: cover;
	// 		background-attachment: fixed;

	// }
	&:before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -2;
		display: block;
		background: #fbfbfb;
	}

	.service-box {
		border-right: 1px solid #f3f3f3;
		.transition;
		position: relative;
		padding: 30px;
		margin-left: -1px;

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			border-right: 0px;
		}

		&:before {
			position: absolute;
			content: "";
			left: 0;
			top: 0;
			height: 5px;
			width: 0;
			.transition;
			background: @secundary;
		}

		&:after {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			content: "";
			background: #fff;
			z-index: -2;
		}

		.service-icon {
			color: @secundary;
			font-size: 20px;
			.transition;
			width: 50px;
			height: 50px;
			line-height: 50px;
			text-align: center;
			margin: 0 auto;
			position: relative;
			border-radius: 100%;
			overflow: hidden;

			&:before {
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				background: @secundary;
				width: 0;
				height: 100%;
				z-index: -1;
				.transition;
			}
		}

		.service-title {
			display: block;
			color: @primary;
			margin-bottom: 15px;
			margin-top: 15px;
			text-align: center;
			font-size: 20px;
			// text-transform: uppercase;
		}
		.service-content {
			color: #999;
		}

		&:hover {
			&:before {
				width: 100%;
			}
			.service-icon {
				color: #fff;
				&:before {
					width: 100%;
				}
			}
		}
	}
}

/*
************************************************************************************************
SERVICES SECTIOB
************************************************************************************************
*/

.about-section {
	position: relative;
	text-align: center;
	width: 100%;
	clear: both;
	padding: 90px 0px;
	padding-top: 120px;
	// padding-bottom: 0;
	border-bottom: 1px solid #f3f3f3;

	.service-box {
		border: 1px solid #f3f3f3;
		.transition;
		position: relative;
		padding: 30px;
		margin-left: -1px;

		&:first-child {
			margin-left: 0;
		}

		&:before {
			position: absolute;
			content: "";
			left: 0;
			top: 0;
			height: 5px;
			width: 0;
			.transition;
			background: @secundary;
		}

		.service-icon {
			color: @secundary;
			font-size: 20px;
			.transition;
			width: 50px;
			height: 50px;
			line-height: 50px;
			text-align: center;
			margin: 0 auto;
			position: relative;
			border-radius: 100%;
			overflow: hidden;

			&:before {
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				background: @secundary;
				width: 0;
				height: 100%;
				z-index: -1;
				.transition;
			}
		}

		.service-title {
			display: block;
			color: @primary;
			margin-bottom: 15px;
			margin-top: 15px;
			text-align: center;
			font-size: 60px;
			font-weight: bold;
		}
		.service-content {
			color: #999;
		}

		&:hover {
			&:before {
				width: 100%;
			}
			.service-icon {
				color: #fff;
				&:before {
					width: 100%;
				}
			}
		}
	}
}

/*
************************************************************************************************
CTA
************************************************************************************************
*/

.section-cta {
	padding-top: 90px;
	// background: #fbfbfb;
	h3 {
		color: #999;
	}
}
/*
************************************************************************************************
TEEAM SECTION
************************************************************************************************
*/
.section-team {
	padding-top: 0;
}

/*
************************************************************************************************
Latest Blog Homepage
************************************************************************************************
*/
.section-latest-blog-posts {
	background: #fdfdfd;
	padding-top: 90px;
	border-bottom: 1px solid #f3f3f3;
	border-top: 1px solid #f3f3f3;

	// h1{
	// 	color:#fff;
	// }
}
.post-social{

	list-style:none;
	text-align:center;
	display: block;
	margin: 0;
	padding: 10px;
	padding-bottom: 0;
	border-bottom: 1px solid #f3f3f3;

	li{
		display: inline-block;

		a{
			padding: 10px;
			color:#999;
			text-decoration: none;
			display: block;

		}
	}
}
.home-post {
	padding: 0px;
	.transition;
	border: 1px solid #f3f3f3;
	margin-left: -1px;

	&:first-child {
		margin-left: 0;
	}
	.post-image-container {
		padding: 0;
		position: relative;
		margin: 0;
		filter: grayscale(0);
		.transition;

		img{

			.transition;
		}
	}
	.post-content {
		padding: 20px;
		.transition;
		.post-title{
			margin-bottom: 10px;
			font-weight: 600;
			border-bottom: 1px solid #f3f3f3;
			padding-bottom: 15px;
			margin-bottom: 0;
			.transition;
		}
		p{
			color:#999;
			margin-bottom: 15px;
		}
		.post-details {
			padding: 0px;
			background: #f3f3f3;
			padding:10px;
			margin-bottom: 15px;
			.transition;
		}
		.more-link{
			.transition;
			padding:5px 15px;
			color:#999;

			&:hover{
				color:#fff;
			}
		}
	}

	&:hover{

		background: @primary;
		// border: 1px solid @primary;
		.post-image-container {
			.transition;
			img{
				filter: grayscale(90%);
			}
		}
		.post-content {
			.transition;
			.post-title{
				margin-bottom: 10px;
				font-weight: 600;
				border-bottom: 1px solid #444;
				color:#999;
				padding-bottom: 15px;
				margin-bottom: 0;
				.transition;
			}
			p{
				color:#999;
				margin-bottom: 15px;
			}
			.post-details {
				padding: 0px;
				background: #555;
				padding:10px;
				// color:#999;
				margin-bottom: 15px;
				// color:@secundary;
				.transition;

			}
			.more-link{
				.transition;
				padding:5px 15px;
				color:#333;
				background: #999;

				&:hover{
					background: @secundary;
					color:#fff;
				}
			}
		}



	}
}

/*
************************************************************************************************
UI Kit
************************************************************************************************
*/
.section-ui-kit{
	padding-top: 90px;

  .accordion-toggle {
  	cursor: pointer;
	padding:10px;
	border:1px solid #f3f3f3;
	margin-bottom: -1px;
	position: relative;
	.transition;

	&:before{
		content:"";
		position: absolute;
		left:0;
		top:0;
		width:0%;
		background: @secundary;
		height:100%;
		z-index: -1;
		.transition;

	}

	&:after{

		float:right;
		content:"+";
		padding-right: 10px;
	}

	&:hover{
		.transition;
		background: #f3f3f3;
	}

	&.open{

		color:#fff;

&:hover{
	background: darken(@secundary,10%);
}
		&:after{

		float:right;
		content:"-";
		padding-right: 10px;
		}

		.transition;
		&:before{
			content:"";
			position: absolute;
			left:0;
			top:0;
			width:100%;
			background: @secundary;
			height:100%;
			z-index: -1;
			.transition;
		}

	}



	&:first-child{
		margin-bottom: 0;
	}



	// &:hover{
	// 	&:before{
	// 		width:100%;
	// 	}
	// }


  }
  .accordion-content {display: none;}
  .accordion-content.default {display: block;}
	.accordion-content{
		padding: 30px;
		color:#888;
	}


}

/*
************************************************************************************************
Projects
************************************************************************************************
*/
.projects-section {
	display: block;
	width: 100%;
	clear: both;
	padding: 0;
	background: #fdfdfd;
	// overflow:hidden;
	padding-top: 90px;
	// margin-bottom: 90px;
	.projects-container {
		padding: 0;
		// overflow:hidden;
		position: relative;
	}

	.slider-controls {
		display: inline-block;
		position: absolute;
		border: 10px solid rgba(255, 255, 255, 0.5);
		top: -25px;
		left: 50%;
		overflow: hidden;
		// width:100px;
		// height:50px;
		// background: #fff;
		text-align: center;
		z-index: 4;
		transform: translate(-50%, 0%);

		span {
			display: inline-block;
			color: #fff;
			width: 60px;
			height: 60px;
			line-height: 60px;
			text-align: center;
			margin: 0px;
			padding: 0;
			.transition;
			background: @primary;

			&:hover {
				background: darken(@primary, 10%);
			}

			&:last-child {
				margin-left: 5px;
			}
		}
	}

	h1 {
		margin-bottom: 70px;
		span {
			color: @secundary;
		}
	}

	.project {
		padding: 0;
		position: relative;
		overflow: hidden;
		.transition;

		&:before {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			background: rgba(0, 0, 0, 0.3);
			.transition;
			display: none;
		}
		&:after {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 2;
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
			background: -moz-radial-gradient(
				center,
				ellipse cover,
				rgba(0, 0, 0, 0) 0%,
				rgba(0, 0, 0, 0.65) 100%
			); /* FF3.6-15 */
			background: -webkit-radial-gradient(
				center,
				ellipse cover,
				rgba(0, 0, 0, 0) 0%,
				rgba(0, 0, 0, 0.65) 100%
			); /* Chrome10-25,Safari5.1-6 */
			background: radial-gradient(
				ellipse at center,
				rgba(0, 0, 0, 0) 0%,
				rgba(0, 0, 0, 0.65) 100%
			); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient(
					startColorstr="#00000000",
					endColorstr="#a6000000",
					GradientType=1
				); /* IE6-9 fallback on horizontal gradient */
			.transition;
			display: none;
		}
		.project-content {
			position: absolute;
			overflow: hidden;
			top: 10%;
			left: 10%;
			width: 80%;
			height: 80%;
			background: rgba(255, 255, 255, 0.8);
			z-index: 3;
			.transition;
			transform: scale(0);
			outline: 3px solid #fff;
			.flex;

			.project-content-inner {
				padding: 30px;
			}
		}

		.project-title {
			margin-bottom: 15px;
		}

		.project-category {
			display: inline-block;
			padding: 10px 15px;
			background: @secundary;
			color: #fff;
			margin: 0 auto;
		}
		.description {
			margin-top: 30px;
		}

		img {
			width: 100%;
			height: auto;
			-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
			filter: grayscale(0%);
			.transition;
			opacity: 1;
			margin: 0;
			padding: 0;
			display: block;
			vertical-align: middle;
		}

		&:hover {
			.project-content {
				transform: scale(1);
			}

			&:before,
			&:after {
				display: block;
			}

			img {
				width: 100%;
				height: auto;
				-webkit-filter: grayscale(30%); /* Safari 6.0 - 9.0 */
				filter: grayscale(30%);
				.transition;
				opacity: 0.8;
			}
		}
	}
}

.main-footer {
	position: relative;
	overflow: hidden;

	&:after {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-image: url(../img/paralax/services.jpg);
		z-index: -3;
		display: block;
		background-size: cover;
		background-attachment: fixed;
	}
	&:before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -2;
		display: block;
		background: rgba(0, 0, 0, 0.9);
	}

	.footer-top {
		padding: 15px 0px;
		background: @primary;
		border-bottom: 1px solid darken(@primary, 10%);
	}
}
.top-footer-menu {
	list-style: none;
	display: block;
	margin: 0;
	padding: 0;

	li {
		display: inline-block;
		a {
			padding: 10px;
			display: block;
			color: #777;
			.transition;
			font-size: 14px;

			&:first-child {
				padding-left: 0;
			}

			&:hover {
				color: @secundary;
				text-decoration: none;
			}
		}
	}
}

.footer-middle {
	padding: 40px 0px;

	h3 {
		color: #fff;
		font-weight: normal;
	}
	color: #777;
}
.footer-bottom {
	padding: 40px 0px;
}

.instagram-feeds {
	list-style: none;
	display: block;
	padding: 0;
	margin: 0;
	padding-left: 0;

	li {
		padding: 0px;

		.istagram-image-container {
			padding: 5px;
			img {
				max-width: 100%;
				height: auto;
				display: block;
				vertical-align: middle;
				padding: 5px;
				background: @primary;
			}
		}
	}
}

/*
************************************************************************************************
OVERWRITE CSS
************************************************************************************************
*/
.text-center {
	text-align: center !important;
}
.img-border {
	border: 10px solid #fff !important;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.padding-0 {
	padding: 0 !important;
}

.flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

/*
************************************************************************************************
Responsive
************************************************************************************************
*/
body.sidr-open {
	&:before {
		background: #000;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
	}
}

.sidr {
	display: block;
	position: fixed;
	top: 0;
	height: 100%;
	z-index: 999999;
	width: 260px;
	overflow-x: hidden;
	overflow-y: auto;
	background: @primary;

	.top-header-container {
		background: transparent;
		border-bottom: none;

		.left-top-menu {
			display: block;
			float: none;
			margin: 0;
			padding: 10px 0px;
			border-bottom: 1px solid #ddd;
			text-align: center;
		}

		.right-top-container {
			float: none;
			display: block;
			padding: 10px 0px;
			border-bottom: 1px solid #ddd;
		}
	}

	// Menu Primary
	.primary-menu {
		margin: 0 auto;
		li {
			display: block;
			&.menu-dropdown-icon {
				> a {
					&:after {
						color: #fff;
					}
				}
			}

			a {
				color: #fff;
				.menu-icon {
					color: #fff;
				}

				&:before {
					display: none;
				}
			}

			ul {
				background: transparent;
				display: block;
				width: 100%;
				padding: 0px;
				position: relative;
				z-index: 99;
				left: 0;
				margin: 0;
				top: 100%;
				list-style: none;

				li {
					float: none;
					display: block;

					margin-bottom: 0;

					&.col-4-from-12 {
						width: 100%;
					}
					&.col-3-from-12 {
						width: 100%;
					}
					&.col-2-from-12 {
						width: 100%;
					}

					a {
						color: #fff;
						border-bottom: 1px solid lighten(@primary, 2%);
						text-align: left;
						&:before {
							display: none;
						}
					}
					ul {
						float: none;
						display: block;
					}
				}

				&.normal-sub {
					width: 100%;
				}
			}
		}
	}
}
.sidr .sidr-inner {
	padding: 0 0 15px;
}

.sidr.left {
	left: -260px;
	right: auto;
}